.newPrompt {
    .newForm {
        width: 50%;
        position: absolute;
        bottom: 0;
        background-color: #2c2937;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

    }
}