.homepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .top {
        display: flex;
        flex: 8;
        
        .left {
            display: flex;
            flex: 1;
            background-color: purple;

        }

        .right {
            display: flex;
            flex: 1;
            background-color: yellow;
            justify-content: center;
            align-items: center;

            .imageContainer {
                display: flex;
                width: 80%;
                height: 80%;
                background: darkmagenta;
                border-radius: 20px;

                .botimg {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                }
            }

            
        }

        
    }
    .bottom {
        display: flex;
        flex: 1;
        background-color: pink;
    }
}